*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .body{
    background: linear-gradient(90.15deg, #251D3A 16.62%, #100d1a 85.61%);
  }
  
  .header{
    background-color: #251D3A;
    padding: 0%;
    color: white;
  
  }
  
  .header .center{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header .logo img{
    width: 85px;
    padding-left: 10px;
  }
  
  .header .menu a{
    color: white;
    margin-right: 50px;
    text-decoration: none;
  }
  
  .header .menu a:hover{
    text-decoration: underline;
  }
  
  .text h1{
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
  }
  
  .text h3{
    color: white;
    margin-bottom: 10px;
  }
  
  .text h4{
    color: white;
    margin-bottom: 10px;
  }
  
  .footer{
    color: white;
    background: linear-gradient(90.15deg, #251D3A 16.62%, #100d1a 85.61%);
    padding: 20px;
    text-align: center;
    border-top: 1px solid #000;
  }
  
  .border{
    border: 2px solid white;
    border-color: #39254d;
    margin: 5px;
    background: linear-gradient(50deg, #100d1a 85.61%, #251D3A 16.62%);
    padding: 15px;
    border-radius: 15%;
  }
  
  img{
    border-radius: 50%;
  }